.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.flex-item {
  flex-basis: 33%;
  flex-grow: 0;
  flex-shrink: 0;
}

.title {
  margin: 0.25em 0;
  flex-basis: 33%;
  flex-grow: 0;
  flex-shrink: 0;
}

.logo {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.logo-wrapper {
  margin: 0;
  width: 60px;
}
