.header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.flex-item {
  flex-basis: 33%;
  flex-grow: 0;
  flex-shrink: 0;
}

.title {
  margin: 0.25em 0;
  flex-basis: 33%;
  flex-grow: 0;
  flex-shrink: 0;
  text-align: center;
  font-size: 1.25em;
}

.line-through {
  text-decoration: line-through;
}

.logo {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.logo-wrapper {
  margin: 0;
  width: 60px;
}

.main {
  padding: 20px;
}

@page {
  size: 1210px 900px;
  margin: 0;
}

@media print {
  body {
    width: 100% !important;
    height: 100% !important;
    transform: scale(1) !important;
  }
}
