.item {
  padding: 1em;
  position: relative;
}

.item:hover .button,
.item:focus .button {
  display: inline;
}

.button {
  appearance: none;
  border: none;
  width: 2em;
  display: none;
  position: absolute;
  top: 1em;
}

.list {
  list-style: disc;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  max-height: 80vh;
  flex-wrap: wrap;
}
